ProjetoFabricaCosmeticos/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63161/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" />
  <xs:element name="InsertFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="fornecedor" nillable="true" type="q1:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="fornecedor" nillable="true" type="q2:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="fornecedor" nillable="true" type="q3:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="fornecedor" nillable="true" type="q4:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeFornecedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="filtro" nillable="true" type="q5:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="SelectFornecedorResult" nillable="true" type="q6:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="produto" nillable="true" type="q7:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="produto" nillable="true" type="q8:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="produto" nillable="true" type="q9:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="produto" nillable="true" type="q10:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeProdutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="filtro" nillable="true" type="q11:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="SelectProdutoResult" nillable="true" type="q12:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="materiaprima" nillable="true" type="q13:MateriaPrima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="materiaprima" nillable="true" type="q14:MateriaPrima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="materiaprima" nillable="true" type="q15:MateriaPrima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="materiaprima" nillable="true" type="q16:MateriaPrima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeMateriaPrimaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMateriaPrima">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="filtro" nillable="true" type="q17:MateriaPrima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMateriaPrimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="SelectMateriaPrimaResult" nillable="true" type="q18:ArrayOfMateriaPrima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="produto" nillable="true" type="q19:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFormulaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="produto" nillable="true" type="q20:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormulaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="produto" nillable="true" type="q21:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeFormulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeFormulaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="filtro" nillable="true" type="q22:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFormulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="SelectFormulaResult" nillable="true" type="q23:ArrayOfMateriaPrima" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="compra" nillable="true" type="q24:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="compra" nillable="true" type="q25:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="compra" nillable="true" type="q26:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="compra" nillable="true" type="q27:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeCompraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="compra" nillable="true" type="q28:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca.Classes_Basicas" minOccurs="0" name="SelectCompraResult" nillable="true" type="q29:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>